<a href="https://colab.research.google.com/github/juniomuniz/Machine_Learning/blob/main/First_Prediction_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importation

In [2]:
import pandas as pd

In [9]:
url = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"

In [11]:
df = pd.read_csv(url)

In [28]:
df.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

# select just the colum that you want

In [31]:
#df1 = df.loc[1,3,['home', 'how_it_works', 'contact']] 
# OR

df1 = df[['home', 'how_it_works', 'contact']]

In [34]:
df1.head(10)

   home  how_it_works  contact
0     1             1        0
1     1             1        0
2     1             1        0
3     1             1        0
4     1             1        0
5     1             0        1
6     1             1        0
7     1             0        1
8     1             1        0
9     1             0        1

In [36]:
x = df1
y = df['bought']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: bought, dtype: int64

# Train and Test

In [44]:
train_x = x[:75]
train_y = y[:75]
test_x = x[75:]
test_y = y [75:]
print("we going to train with %d elements and test with %d elements" % (len(train_x), len(test_x)))

we going to train with 75 elements and test with 24 elements

In [53]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
model = LinearSVC()
model.fit(train_x, train_y)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [70]:
forecast = model.predict(test_x)
hit_rate = accuracy_score(test_y, forecast)
print("we going to train with %d elements and test with %d elements" % (len(train_x), len(test_x)))
print(" Hit Rate = %.2f" % (hit_rate*100), "%" )

we going to train with 74 elements and test with 25 elements
 Hit Rate = 96.00 %

#This part we use library

In [91]:
from sklearn.model_selection import train_test_split
seed = 20
train_x, test_x, train_y, test_y = train_test_split(x, y,stratify = y, random_state =seed, test_size = 0.25)
model = LinearSVC()
model.fit(train_x, train_y)
forecast = model.predict(test_x)
hit_rate = accuracy_score(test_y, forecast)
print("we going to train with %d elements and test with %d elements" % (len(train_x), len(test_x)))
print(" Hit Rate = %.2f" % (hit_rate*100), "%" )

we going to train with 74 elements and test with 25 elements
 Hit Rate = 96.00 %

In [92]:
print(train_y.value_counts())
print(test_y.value_counts())

0    49
1    25
Name: bought, dtype: int64
0    17
1     8
Name: bought, dtype: int64